# NCR District 4 Cell Tower Decision Support

In [1]:
import pandas as pd
import numpy as np

import gurobipy as gp
from gurobipy import GRB

import matplotlib.pyplot as plt
import seaborn as sns

# Part 1: Problem Formulation

### Sets and Indices

$i \in T$: Index and set of potential sites to build a tower.

$j \in R$: Index and set of regions.

$G(T,R,E)$: A bipartite graph defined over the set $T$ of potential sites to build a tower,  the set of regions $R$ that we want to cover, and $E$ is the set of edges, where we have an edge $(i,j) \in E$ if region $j \in R$ can be covered by a tower on location $i \in T$.

### Parameters

$c_{i} \in \mathbb{R}^+$: The cost of setting up a tower at site $i$.

$p_{j} \in \mathbb{N}$: The population at region $j$.

### Decision Variables

$covered_{j} \in \{0, 1 \}$: This variable is equal to 1 if region $j$ is covered; and 0 otherwise.

$build_{i} \in \{0, 1 \}$: This variable is equal to 1 if tower $i$ is built; and 0 otherwise.

### Objective Function(s)

- **Population covered**. We seek to maximize the total population covered by the towers.

\begin{equation}
\text{Max} \quad Z = \sum_{j \in R} p_{j} \cdot covered_{j}
\tag{0}
\end{equation}

### Constraints

- **Coverage**. For each region $j \in R$ ensure that at least one tower that covers a region must be selected.

\begin{equation}
\sum_{(i,j) \in E} build_{i} \geq covered_{j} \quad \forall j \in R
\tag{1}
\end{equation}

- **Budget**. We need to ensure that the total cost of building towers do not exceed the allocated budget.

\begin{equation}
\sum_{i \in T} c_{i} \cdot build_{i} \leq \text{budget}
\tag{2}
\end{equation}

This example considers a bipartite graph for 6 towers and 9 regions. The following table illustrates which regions (columns) are covered by each cell tower site (rows).

| <i></i> | Las Piñas | Makati | Muntinlupa | Parañaque | Pasay | Pateros | Taguig |
| --- | --- | --- | --- | --- | --- | --- | --- |
| Tower 0 | - | 1 | 1 | - | - | 1 | - |
| Tower 1 | 1 | - | - | - | 1 | - | - |
| Tower 2 | 1 | - | 1 | 1 | - | - | 1 |
| Tower 3 | - | - | 1 | - | 1 | - | 1 |

### Retrieve Parameter Data

In [7]:
## Budget
budget = 34.7 ## million pesos

In [8]:
## Population Estimates
population = pd.read_csv('data/dist4_2025_estimates.csv')
cities = population.city
population

         city  population
0   Las Piñas      686336
1      Makati      639590
2  Muntinlupa      591167
3   Parañaque      778498
4       Pasay      440990
5     Pateros       68950
6      Taguig      989407

In [9]:
## Tower Costs (in Million PHP)
tower_cost = pd.read_csv('data/tower_cost.csv')
tower_cost

   tower  cost
0      0   7.1
1      1   1.3
2      2   5.2
3      3   4.9